
<head>
	<meta charset="UTF-8">
	<title>Impulse</title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
	<div class="container">
		<div class="container-inner">
			<h1>{iOS Developer} <span>Impulse</span></h1>
			<nav>
				<li><a class="btn" href="https://github.com/impul">[GitHub]</a></li>
				<li><a class="btn" href="https://stackoverflow.com/users/6194525/Павло-Бойко">[StackOverflow]</a></li>
				<li><a class="btn" href="https://www.linkedin.com/in/impulse-ios/">[LinkedIn]</a></li>
			</nav>
		</div>
	</div>
</body>
</html>
