@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300);

body {
	background-color: #111;
	font-family: "Source Sans Pro", sans-serif;
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  display: table;
}

.container-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

h1 {
	font-size: 48px;
	font-weight: 300;
	letter-spacing: 0.1618em;
	color: #999;
}

h1 span {
	color: #2ecc71;
}

.btn {
	text-decoration: none;
	color: #999;
	font-size: 20px;
	margin:0px;
}

nav {
  text-align: center;
}

ul, li, a {
  display: inline-block;
}

li {
  padding: 5px 7px 5px 5px;
}

a:hover {
  background-color: #2ecc71;
  color:black;
}